            <div class="jumbotron">
                <h1 class="display-4">How to use template</h1>
                    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                    <hr class="my-4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, asperiores.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Voir plus</a>
                        </p>
            </div>